<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 
 
  <servlet>
    <servlet-name>Chongzhi</servlet-name>
    <servlet-class>apiinterface.Chongzhi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QQOpenApi</servlet-name>
    <servlet-class>apiinterface.QQOpenApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMoney</servlet-name>
    <servlet-class>apiinterface.GetMoney</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>QQRedirectURL</servlet-name>
    <servlet-class>apiinterface.QQRedirectURL</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IsRoleServlet</servlet-name>
    <servlet-class>servlet.IsRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberCoinServlet</servlet-name>
    <servlet-class>servlet.MemberCoinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BchoolServlet</servlet-name>
    <servlet-class>servlet.BchoolServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>servlet.AServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HchoolServlet</servlet-name>
    <servlet-class>servlet.HchoolServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Loading</servlet-name>
    <servlet-class>servlet.Loading</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Server</servlet-name>
    <servlet-class>servlet.Server</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>SchoolServlet</servlet-name>
    <servlet-class>servlet.SchoolServlet</servlet-class>
  </servlet>
 
   <servlet>
    <servlet-name>ShengServlet</servlet-name>
    <servlet-class>servlet.ShengServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShiServlet</servlet-name>
    <servlet-class>servlet.ShiServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>SUuServlet</servlet-name>
    <servlet-class>servlet.SUuServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UuServlet</servlet-name>
    <servlet-class>servlet.UuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HuangzuanApi</servlet-name>
    <servlet-class>apiinterface.HuangzuanApi</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Friends</servlet-name>
    <servlet-class>apiinterface.Friends</servlet-class>
  </servlet>
    <servlet>
	<servlet-name>GroupFriends</servlet-name>
    <servlet-class>apiinterface.GroupFriends</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Share</servlet-name>
    <servlet-class>apiinterface.Share</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>compass.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>compass.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Access</servlet-name>
  	<servlet-class>compass.Access</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Invite</servlet-name>
  	<servlet-class>compass.Invite</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Recharge</servlet-name>
  	<servlet-class>compass.Recharge</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Consume</servlet-name>
  	<servlet-class>compass.Consume</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Quit</servlet-name>
  	<servlet-class>compass.Quit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Report</servlet-name>
  	<servlet-class>compass.Report</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Goods</servlet-name>
  	<servlet-class>buyapi.Goods</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Send</servlet-name>
  	<servlet-class>buyapi.Send</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Delivery</servlet-name>
  	<servlet-class>buyapi.Delivery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Token</servlet-name>
  	<servlet-class>buyapi.Token</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>apiinterface.Home</servlet-class>
  </servlet>
  
  	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
  	<servlet-name>Goods2</servlet-name>
  	<servlet-class>buyapi.Goods2</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Loadingtohomejsp</servlet-name>
  	<servlet-class>servlet.Loadingtohomejsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Yanzheng</servlet-name>
    <servlet-class>servlet.Yanzheng</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopUp</servlet-name>
    <servlet-class>servlet.TopUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewName</servlet-name>
    <servlet-class>servlet.NewName</servlet-class>
  </servlet>



  

	<servlet-mapping>
		<servlet-name>Loadingtohomejsp</servlet-name>
		<url-pattern>/Loadingtohomejsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Goods2</servlet-name>
		<url-pattern>/goods2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Token</servlet-name>
		<url-pattern>/token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delivery</servlet-name>
		<url-pattern>/delivery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Send</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Goods</servlet-name>
		<url-pattern>/goods</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Report</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Quit</servlet-name>
		<url-pattern>/quit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Consume</servlet-name>
		<url-pattern>/consume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recharge</servlet-name>
		<url-pattern>/recharge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Invite</servlet-name>
		<url-pattern>/inv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Access</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
    <servlet-name>Share</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
    <servlet-name>Friends</servlet-name>
    <url-pattern>/Friends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupFriends</servlet-name>
    <url-pattern>/GroupFriends</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
    <servlet-name>HuangzuanApi</servlet-name>
    <url-pattern>/HuangzuanApi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QQOpenApi</servlet-name>
    <url-pattern>/QQOpenApi</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Chongzhi</servlet-name>
    <url-pattern>/Chongzhi</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GetMoney</servlet-name>
    <url-pattern>/GetMoney</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QQRedirectURL</servlet-name>
    <url-pattern>/QQRedirectURL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IsRoleServlet</servlet-name>
    <url-pattern>/IsRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberCoinServlet</servlet-name>
    <url-pattern>/MemberCoinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BchoolServlet</servlet-name>
    <url-pattern>/BchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HchoolServlet</servlet-name>
    <url-pattern>/HchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Loading</servlet-name>
    <url-pattern>/Loading</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Server</servlet-name>
    <url-pattern>/Server</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SchoolServlet</servlet-name>
    <url-pattern>/SchoolServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/AServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShengServlet</servlet-name>
    <url-pattern>/ShengServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ShiServlet</servlet-name>
    <url-pattern>/ShiServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SUuServlet</servlet-name>
    <url-pattern>/SUuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UuServlet</servlet-name>
    <url-pattern>/UuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Yanzheng</servlet-name>
    <url-pattern>/Yanzheng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopUp</servlet-name>
    <url-pattern>/TopUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewName</servlet-name>
    <url-pattern>/NewName</url-pattern>
  </servlet-mapping>
  
  
  <listener>
	<listener-class>
		servlet.SessionLis
	</listener-class>
  </listener>
 
 
 <filter>
  <filter-name>struts2</filter-name>
  <filter-class>
org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
 </filter-class>
 </filter>
  
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>

 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>