body {
	background-image: url('img/background.png');
	margin: 0px;
	padding: 0px;
}

.wrapper {
	width: 760px;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	background: url(img/content.png) no-repeat center top;
	height: 580px;
	position: relative
}

/*��ܰ��ʾ*/
.warmtips {
	bottom: 0px;
	height: 50px;
	background-color: #5555FF;
	position: relative
}

.warmtips p {
	font-size: 12px;
	line-height: 20px;
	padding: 5px 20px;
	color: #FFFFFF;
}

#memberUsername {
	width: 180px;
	height: 22px;
	top: 219px;
	left: 320px;
	position: absolute;
	background: transparent;
	border: 0;
	color: #fff;
	font-family: Verdana, "����";
}

#memberPassword {
	width: 180px;
	height: 22px;
	top: 277px;
	left: 320px;
	position: absolute;
	background: transparent;
	border: 0;
	color: #fff;
}
#all_top {
	background: url('img/top.png');
	width: 760px;
	margin: 0 auto;
}
#all_foot {
	background: url('img/banner.png');
	width: 760px;
	margin: 0 auto;
}

#tijiao {
	width: 120px;
	height: 48px;
	top: 330px;
	left: 340px;
	position: absolute;
}

.denglu,.denglu2 {
	width: 198px;
	height: 109px;
	top: 359px;
	left: 443px;
	position: absolute;
	display: block;
	border: 0;
	text-indent: -9999999px;
	overflow: hidden;
}

.denglu {
	background: url(img/tower-login.png) no-repeat 0 0;
	
}

.denglu2 {
	background: url(img/tower-login2.png) no-repeat 0 0;
}